*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%; /* 전체 높이 설정 */
}
body{
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}
h3{
    margin-top: 10px;
}
span{
    color:red;
    font-weight: bold;
}
.wrapper{
    text-align: center;
}
.alphabet{
    margin-top: 10px;
    flex-grow: 1; /* 남은 공간을 차지 */
    width : 500px;
    height:50px;
    display: grid;
    grid-template-columns: repeat(11, 50px);
}

.alphabet-item, .number{
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
}
.container {
    display: flex;
}
.game_grid{
    width : 500px;
    height : 500px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 1px solid black;
}

.game_grid:hover{
    cursor:url('/images/cursor.png'), auto;
    z-index: 3;
}

.grid-item{
    width: 50px;
    height: 50px;
    border: 1px solid gray; 
}

.numbers{
    display: flex;
    flex-direction: column;
    width:50px;
}

.red{
    background-image: url('/images/x.png');
    background-size: 50px 50px;
    border:2px solid red;
}

.gray{
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size : 32px;
    color: #a3a3a3;
}