body{
    /*문서 전체 초기화*/
    margin : 0;
    padding: 0;
    /*border  : 1px solid red; 어떻게 잡혔는지 알 수 있는 테두리 코드*/
    box-sizing: border-box;
}
#wrap{
    margin : 0 auto;
    width:1500px;
    height : 100%;
    text-align: center;
    
}
#top{
    margin : 0 auto;
    width:1000px;
}
header{
    width:1000px;
    height:30px;
    text-align: right;
    font-size: 12px;
    margin: 10px;
}
.logo > img{
    display: block;
    flex-basis: 100% !important;
    text-align: left;
}
.menu{
    width:1000px;
    height:30px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}
.menu_container{
    list-style-type: none;
    padding:0;
    margin:0;
    display: flex;
    float: right;
}
.menu_container > li{
    position: relative;

}
.menu_container > li > a{
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
}
.menu_container > li > a:hover{
    color:  rgb(44, 196, 150);
}

/*서브 메뉴는 기본적으로 숨기기*/
.submenu{
    display: none;
    position: absolute;
    top:100%;
    left:0;
    left: 0;
    list-style-type: none;
    padding:0;
    margin: 0;
    background-color: rgb(221, 255, 245);
    min-width: 150px;
    text-align: center;
}
.submenu li a{
    display: block;
    padding : 10px;
    color: black;
    text-decoration: none;
}

.submenu li a:hover{
    background-color: rgb(44, 196, 150);
    color:white;
}

/*부모 메뉴에 마우스 올리면 서브메뉴 보이기*/
.menu_container li:hover .submenu{
    display: block;
    
}

.img1{
    height: 60px;
    background-image: url("../images/main_bg.png");
    background-repeat: no-repeat;
    background-size: 1400px 100%;
    background-position: top center;
    text-align: center;
    padding: 145px 0 0 470px;
}

.img1 > img{
    bottom: 0;
    right:0;
}

.img2 {
    position: relative;
    width: 645px;
    height:240px;
    z-index: 2;
}
.img2 > img{
    position: absolute;
    bottom: 0;
    right:0;
}

.blank{
    width:1300px;
    height:50px;
}

.main_body{
    margin : 0 auto;
    width: 1000px;
    height: 550px;
   /* border: 1px solid black;*/
    display: flex;
    
}

.left_side{
    box-sizing: border-box;
    width:190px;
    height: 550px;
}
.left_intro{
    width: 180px;
    height: 150px;
    margin: 15px;
}
.intro{
    padding: 10px;
    width: 160px;
    height:15%;
    background-color: rgb(44, 196, 150);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    align-content: center;
}

.left_intro > p{
    text-align: left;
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
}

.f_search{
    width:180px;
    height:30px;
    position : relative;
    padding: 0 5px;
}

.s_box{
    position: absolute;
    top:0;
    right: 12px;

}

.searchbox{
    width:120px;
    height:19px;
    position: absolute;
    top:0;
    left: 5px;
}

.category{
    margin-top: 15px;
    width : 100%;
    height: 150px;
    border-top: 2px solid black;
}

.category_title{
    padding: 10px;
    width: 160px;
    height:15%;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid rgb(165, 164, 164);
}
.category > p{
    padding: 2px;
    margin: 0;
    text-align: left;
    font-size: 13px;
    margin: 10px;
    font-weight: bold;
}
.recent_replay{
    margin-top: 2px;
    padding : 10px;
    width: 160px;
    height: 150px;
    border: 1px solid rgb(44, 196, 150);;
}
#r_title{
    margin: 0;
    padding: 12px 0 12px 10px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.recent_replay > p{
    margin: 0;
    text-align: left;
    font-size: 13px;
    margin: 10px;
    font-weight: bold;
}

.middle_side{
    margin: 15px;
    width : 310px;
    height : 150px;
}

.m_title{
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.m_contents{
    float: left;
    margin: 0;
    margin-left: 8px;
    width:200px;
    text-align: left;
    line-height: 1.5;
    font-size: 13px;
    margin-top: 10px;
}

.m_date{
    float: right;
    font-size: 13px;
    margin-top: 10px;
}

.right_side{
    margin: 15px;
    width : 430px;
    height : 150px;
    
}

.bread_area{
    width: 200px;
    height:220px;
    text-align: left;
    
}
.b_img{
    width: 100%;
    height: 30px;
}

.b_title{
    margin: 0;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}
.b_date{
    margin: 0;
    margin: 10px;
    font-size: 13px;
}
li {list-style-type: none;}
footer{
    height:300px;
    background-color: hsl(202, 75%, 19%);
    color : white;
}
#sitemap{
    width:1000px;
    height: 60%;
    margin : 0 auto;
}
.items{
    width : 230px;
    float: left;
    margin: 30px 40px;
    font-size: 12px;
}
.items > h3{
    font-size: 13px;
    font-weight: bold;
    color:  rgb(44, 196, 150);
}
.f_intro{
    width:1000px;
    height:20%;
    margin : 0 auto;
    align-content: center;
}
.f_intro > span{
    margin: 20px 30px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
.items li{margin-top:10px; }
.items > ul  {padding: 0; margin-left: 0;}